In [18]:
import os
os.listdir("../../../../OneDrive - Western Michigan University/machine learning/project/datasets/state-ev-registration-data/")
path="../../../../OneDrive - Western Michigan University/machine learning/project/datasets/state-ev-registration-data/"

In [19]:
os.listdir(path)

['wa_ev_registrations_public.csv',
 '.DS_Store',
 'NJ_EV_Registrations.csv',
 'TX_EV_Registrations.csv',
 'ca_ev_registrations_public.csv',
 'OR_EV_Registrations.csv',
 'wi_ev_registrations_public.csv',
 'VT_EV_Registrations.csv',
 'NY_EV_Registrations.csv',
 'fl_ev_registrations_public.csv',
 'MT_EV_Registrations.csv',
 'CT_EV_Registrations.csv',
 'MN_EV_Registrations.csv',
 'TN_EV_Registrations.csv',
 'va_ev_registrations_public.csv',
 'CO_EV_Registrations.csv']

In [34]:
import pandas as pd
df_or=pd.read_csv(path+"OR_EV_Registrations.csv")

In [45]:
df_col_base=df_or.columns.to_list()

In [51]:
df_col_base

['State',
 'ZIP Code',
 'Registration Date',
 'Vehicle Make',
 'Vehicle Model',
 'Vehicle Model Year',
 'Drivetrain Type',
 'Vehicle GVWR Class',
 'Vehicle Category',
 'Vehicle Count',
 'DMV Snapshot (Date)',
 'DMV Snapshot ID',
 'Latest DMV Snapshot Flag']

In [50]:
# check for certain list of strings in a list of strings
def check_list(list1, list2):
    for i in list1:
        for j in list2:
            if i in j:
                return True
    return False

True

In [65]:

import os
import pandas as pd
path="../../../../OneDrive - Western Michigan University/machine learning/project/datasets/state-ev-registration-data/"
os.listdir(path)
base_col=['State',
 'Vehicle Make',
 'Vehicle Model',
 'Vehicle Model Year']
df_combined=pd.DataFrame()

for data in os.listdir(path):
    if data.endswith(".csv"):
        df=pd.read_csv(path+data,low_memory=False)
        # if check_list(base_col,df.columns.to_list()):
        try:
            df_combined=pd.concat([df_combined,df.loc[:,base_col]],ignore_index=True)
        except:
            print(data)
            continue
        # print(df.column)

wa_ev_registrations_public.csv
ca_ev_registrations_public.csv
wi_ev_registrations_public.csv
fl_ev_registrations_public.csv
va_ev_registrations_public.csv

In [66]:
df_combined.sample(5)

        State Vehicle Make     Vehicle Model  Vehicle Model Year
4137728    NY        TESLA           Model 3              2018.0
4118228    NY        TESLA           Model 3              2019.0
300355     TX        TESLA           Model 3              2019.0
502591     TX        TESLA           Model S              2017.0
1452090    TX         AUDI  e-tron Sportback              2021.0

In [64]:

df_combined.to_csv("../../../../OneDrive - Western Michigan University/machine learning/project/datasets/"+"/combined_OR_Style.csv",index=False)

In [67]:
df_combined.State.unique()

array(['NJ', 'TX', 'OR', 'VT', 'NY', 'MT', 'CT', 'MN', 'TN', 'CO'],
      dtype=object)

In [68]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7168726 entries, 0 to 7168725
Data columns (total 4 columns):
 #   Column              Dtype
---  ------              -----
 0   State               object
 1   Vehicle Make        object
 2   Vehicle Model       object
 3   Vehicle Model Year  float64
dtypes: float64(1), object(3)
memory usage: 218.8+ MB