In [2]:
import os
os.listdir("../datasets/state-ev-registration-data/")

['CT_EV_Registrations.csv',
 'fl_ev_registrations_public.csv',
 'MN_EV_Registrations.csv',
 'MT_EV_Registrations.csv',
 'NJ_EV_Registrations.csv',
 'OR_EV_Registrations.csv',
 'readme.md',
 'TN_EV_Registrations.csv',
 'va_ev_registrations_public.csv',
 'VT_EV_Registrations.csv',
 'wi_ev_registrations_public.csv']

In [5]:
import pandas as pd
df1=pd.read_csv("../datasets/state-ev-registration-data/CT_EV_Registrations.csv")
df2=pd.read_csv("../datasets/state-ev-registration-data/MT_EV_Registrations.csv")

# merge two dataframes
df_combined=pd.concat([df1,df2],axis=0)

In [8]:
df_combined.describe()

       Vehicle Model Year  Vehicle Count  DMV Snapshot ID
count        71723.000000   71829.000000     71829.000000
mean          2019.126668       1.239179         2.558062
std              2.782762       1.244103         1.241147
min           1998.000000       1.000000         1.000000
25%           2018.000000       1.000000         1.000000
50%           2020.000000       1.000000         2.000000
75%           2021.000000       1.000000         4.000000
max           2023.000000     130.000000         4.000000