In [5]:
import os
os.listdir("../datasets")

['state-ev-registration-data',
 'evCarsData',
 'readme.md',
 'ev_stations_v1.csv',
 'ElectricityPricetable_5_06_a.xlsx',
 'Tax Exempt by State.csv',
 'Electric_Vehicle_Population_Data.csv',
 'GasPrice.csv']

In [7]:
import pandas as pd
df_spec= pd.read_csv('../datasets/evCarsData/ElectricCarData_Clean.csv')

Spec Preprocess

In [11]:
df_spec["Brand"]= df_spec["Brand"].str.upper()
df_spec["Model"]= df_spec["Model"].str.upper()

In [12]:
df_spec.sample()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
38,RENAULT,ZOE ZE50 R135,9.5,140,310,168,230,Yes,FWD,Type 2 CCS,Hatchback,B,5,33133

In [13]:
df_spec["Segment"].unique()

array(['D', 'C', 'B', 'F', 'A', 'E', 'N', 'S'], dtype=object)

 state wise combined dataset

In [14]:
df_combined=pd.read_csv("../../../../OneDrive - Western Michigan University/machine learning/project/datasets/"+"/combined_OR_Style.csv",low_memory=False)

In [16]:
df_combined.sample()

       State Vehicle Make Vehicle Model  Vehicle Model Year
124019    NJ        TESLA       Model Y              2020.0

In [15]:
df_new=df_combined.copy()

In [ ]:
# apply pandas apply on two columns
df_new['Brand_Model'] = df_new.apply(lambda x: '{} {}'.format(x['Brand'], x['Model']), axis=1)

In [24]:
df_spec["Brand"]=="TESLA"

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Name: Brand, Length: 103, dtype: bool

In [31]:
df_spec["Brand"].unique()

array(['TESLA ', 'VOLKSWAGEN ', 'POLESTAR ', 'BMW ', 'HONDA ', 'LUCID ',
       'PEUGEOT ', 'AUDI ', 'MERCEDES ', 'NISSAN ', 'HYUNDAI ',
       'PORSCHE ', 'MG ', 'MINI ', 'OPEL ', 'SKODA ', 'VOLVO ', 'KIA ',
       'RENAULT ', 'MAZDA ', 'LEXUS ', 'CUPRA ', 'SEAT ', 'LIGHTYEAR ',
       'AIWAYS ', 'DS ', 'CITROEN ', 'JAGUAR ', 'FORD ', 'BYTON ',
       'SONO ', 'SMART ', 'FIAT '], dtype=object)

In [62]:
state_car_models=df_combined["Vehicle Model"].str.upper().strip().unique()

AttributeError: 'Series' object has no attribute 'strip'

In [ ]:
# trim the space in the end of the string in columns

In [71]:
df_spec["Model"]=df_spec["Model"].str.upper()
df_spec["Model"]=df_spec["Model"].str.strip()

In [72]:
spec_car_models=df_spec["Model"].unique()

In [73]:
state_car_models

array(['FUSION', 'C-MAX', 'ESCAPE', 'RAV4 PRIME', 'PRIUS PLUG-IN',
       'PRIUS PRIME', 'I3', '530E', 'I8', '330E', 'X3', '740E', '745E',
       '745LE', 'TUCSON', 'SANTA FE', 'SONATA', 'IONIQ', 'A3', 'Q5 E',
       'A7', 'A8 E', 'Q5', 'V60', 'S90', 'S60', 'XC60', 'XC90', 'OPTIMA',
       'NIRO', 'SORENTO', 'CT6', 'ELR', 'CLARITY', 'ACCORD', 'S-CLASS',
       'CORSAIR', 'SF 90 STRADALE', '918', 'P1', 'COUNTRYMAN', 'C-CLASS',
       'OUTLANDER', 'NX', 'PS1', 'GLC-CLASS', 'KARMA', 'PANAMERA',
       'CROSSTREK', 'REVERO', 'VOLT', 'LEAF', 'BOLT EV', 'GEM', 'E-GOLF',
       'I-PACE', '500', 'TAYCAN', 'B-CLASS', 'I-MIEV', 'SPARK', 'FIT',
       'MILES ZX40ST', 'TRANSIT CONNECT ELECTRIC', 'CITY', 'RAV4', 'GV60',
       'ASPHALT', 'SOLTERRA', 'HARDTOP', 'PS2', 'E-TRON GT', 'XC40',
       'RS E-TRON GT', 'LUCID AIR', 'I4', 'ID.4', 'C40', 'MUSTANG MACH-E',
       'FOCUS', 'EQ FORTWO', 'FORTWO', 'FORTWO ELECTRIC DRIVE', 'SOUL EV',
       'SOUL', 'EV6', 'KONA', 'KONA ELECTRIC', 'IONIQ 5', 'MODEL Y',
       'ROADSTER', 'MODEL 3', 'MODEL S', 'X5', 'E-TRON',
       'E-TRON SPORTBACK', 'EQS-CLASS SEDAN', 'IX', 'R1T', 'F-150',
       'BENTAYGA', 'RANGE ROVER SPORT', 'RANGE ROVER', 'FLYING SPUR',
       'GLE-CLASS', 'AVIATOR', 'WRANGLER', 'PACIFICA', 'CAYENNE',
       'MODEL X', nan, 'SMITH ELECTRIC VEHICLES', 'TRANSIT',
       'E-GEN PLUG IN HYBRID', 'HUMMER', 'FEC7US / ECANTER',
       'TRANSIT BUS', 'BOLT EUV', 'BOLT INCOMPLETE', 'RANGER', 'CODA',
       'WHEEGO', 'S8', 'SPORTAGE', 'EQS-CLASS SUV', 'LYRIQ', 'R1S',
       'EQB-CLASS', 'GRAND CHEROKEE', 'Q4', 'EDV', 'XCELSIOR',
       'S-10 PICKUP', 'ELECTRIC BUS', 'BB CONVENTIONAL',
       'ALL AMERICAN / ALL CANADA', 'BZ4X', 'HARDTOP 2 DOOR EV',
       'RIDE EXV', 'NEV', 'EV', 'THINK NEIGHBOR', 'ACTIVE E', 'ZX40ST',
       'C40 RECHARGE', 'G80', 'XC40 RECHARGE', 'ARIYA', 'EQE-CLASS SEDAN',
       'MX-30', '5-SERIES PLUG IN', 'Q4 E-TRON', 'Q4 SPORTBACK E-TRON',
       'E6', 'UNKNOWN', 'T-SERIES PURE ELECTRIC TERMINAL TRUCK', 'VNR',
       'MV60E', '579', 'OTTAWA', 'CHANJE TRUCK', 'LIONC (V1)',
       'B2 106 ELECTRIC CONVENTIONAL CHASSIS', 'FREIGHTLINER M2', 'PRIUS',
       'BYD ELECTRIC TRUCK', 'LOGISTIC', 'LOW FLOOR BUS', 'PB10E',
       'ELECTRIC TRUCK TRACTOR', 'E-100 ALL ELECTRIC'], dtype=object)

In [74]:
spec_car_models

array(['MODEL 3 LONG RANGE DUAL MOTOR', 'ID.3 PURE', '2', 'IX3', 'E',
       'AIR', 'E-GOLF', 'E-208', 'MODEL 3 STANDARD RANGE PLUS',
       'Q4 E-TRON', 'EQC 400 4MATIC', 'LEAF', 'KONA ELECTRIC 64 KWH',
       'I4', 'IONIQ ELECTRIC', 'ID.3 PRO S', 'TAYCAN TURBO S', 'E-UP!',
       'ZS EV', 'COOPER SE', 'CORSA-E', 'MODEL Y LONG RANGE DUAL MOTOR',
       'ENYAQ IV 50', 'E-TRON GT', 'MODEL 3 LONG RANGE PERFORMANCE',
       'ID.4', 'ID.3 PRO', 'XC40 P8 AWD RECHARGE', 'I3 120 AH',
       'E-2008 SUV', 'E-TRON 50 QUATTRO', 'E-NIRO 64 KWH',
       'ZOE ZE50 R110', 'CYBERTRUCK TRI MOTOR', 'MX-30', 'LEAF E+',
       'UX 300E', 'EL-BORN', 'ZOE ZE50 R135', 'EQA', 'MODEL S LONG RANGE',
       'KONA ELECTRIC 39 KWH', 'E-TRON SPORTBACK 55 QUATTRO',
       'CITIGOE IV', 'MII ELECTRIC', 'E-SOUL 64 KWH', 'AMPERA-E',
       'TAYCAN 4S', 'ONE', 'U5', 'E-TRON 55 QUATTRO', 'ROADSTER',
       'MOKKA-E', 'ENYAQ IV 80', 'MODEL X LONG RANGE', 'E ADVANCE',
       '3 CROSSBACK E-TENSE', 'TWINGO ZE', 'E-C4', 'MODEL S PERFORMANCE',
       'ZOE ZE40 R110', 'MODEL Y LONG RANGE PERFORMANCE', 'ARIYA 87KWH',
       'I-PACE', 'MUSTANG MACH-E ER RWD', 'TAYCAN 4S PLUS',
       'E-NV200 EVALIA', 'CYBERTRUCK DUAL MOTOR', 'KANGOO MAXI ZE 33',
       'MUSTANG MACH-E ER AWD', 'I3S 120 AH', 'ENYAQ IV 80X',
       'TAYCAN CROSS TURISMO', 'M-BYTE 95 KWH 4WD', 'SION',
       'E-NIRO 39 KWH', 'Q4 SPORTBACK E-TRON', 'EQ FORFOUR',
       'MUSTANG MACH-E SR AWD', 'TAYCAN TURBO', 'ID.3 1ST',
       'MODEL X PERFORMANCE', 'EQ FORTWO COUPE', 'MUSTANG MACH-E SR RWD',
       'EQV 300 LONG', '500E HATCHBACK', 'CYBERTRUCK SINGLE MOTOR',
       'E-TRON SPORTBACK 50 QUATTRO', 'ENYAQ IV VRS', 'ENYAQ IV 60',
       'E-TRON S 55 QUATTRO', 'EQ FORTWO CABRIO', 'ARIYA E-4ORCE 87KWH',
       '500E CONVERTIBLE', 'ID.3 PRO PERFORMANCE', 'E-SOUL 39 KWH',
       'M-BYTE 72 KWH 2WD', 'ARIYA 63KWH',
       'E-TRON S SPORTBACK 55 QUATTRO', 'ARIYA E-4ORCE 63KWH',
       'ARIYA E-4ORCE 87KWH PERFORMANCE', 'M-BYTE 95 KWH 2WD'],
      dtype=object)

In [75]:
#intersction of two lists
set(state_car_models).intersection(set(spec_car_models))

{'E-GOLF',
 'E-TRON GT',
 'I-PACE',
 'I4',
 'ID.4',
 'LEAF',
 'MX-30',
 'Q4 E-TRON',
 'Q4 SPORTBACK E-TRON',
 'ROADSTER'}

In [100]:
# find a  string from a list of strings using fuzzywuzzy
from fuzzywuzzy import process
process.extract("WRANGLER", spec_car_models)

[('E', 90),
 ('MODEL S LONG RANGE', 64),
 ('MODEL X LONG RANGE', 64),
 ('MODEL 3 LONG RANGE DUAL MOTOR', 61),
 ('MODEL 3 LONG RANGE PERFORMANCE', 61)]